/* Tab nav #1 */
.tab-icon-door {
    width: 2.8125rem;
    height: 2.8125rem;
    fill: var(--main-grey);
}

/* Media Tab Nav#1  */
@media (max-width: 900px) {
    .tab-icon-door {
        width: 2.4rem;
        height: 2.4rem;
    }
}

/* Tab nav #2 */
.tab-icon-devices {
    width: 9.6875rem;
    height: 9.6875rem;
    fill: var(--main-grey);
}

/* Media Tab Nav#2  */
@media (max-width: 900px) {
    .tab-icon-devices {
        width: 8em;
        height: 8rem;
    }
}

/* Tab nav #3 */
.tab-icon-price {
    width: 4.375rem;
    height: 4.375rem;
    fill: var(--main-grey);
}

/* Media Tab Nav#3  */
@media (max-width: 900px) {
    .tab-icon-price  {
        width: 2.4rem;
        height: 2.4rem;
    }
}

/* Tabs */
.tabs {
    padding-top: 1rem;
}

.tab-nav-container {
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    list-style: none;
    color: var(--main-grey);
    margin: 0 12%;
}

/* Tabs Nav Hover Effect */
ul li:hover {
    color: #fff;
    cursor: pointer;
}

ul li:hover svg path {
    fill: #fff;
}

/* The Active Path */
.active {
    border-bottom: 4px solid var(--main-red);

}

.tab-selected {
    color: #fff;
}

.tab-selected svg path {
    fill: #fff;
}

/* Media for tabs nav  */
@media(min-width: 900px) {
    .mdScreen {
        display: none;
    }
}

@media(max-width: 900px) {
    .lgScreen {
        display: none;
    }

    .mdScreen {
        display: block;
        margin-bottom: 0.4rem;
    }
}